<div class="text-center text-light mt-5">
    <h1 class="display-5 fw-bold mb-4">📋 Başvuru Takip Sistemine Hoş Geldiniz</h1>
    <p class="lead" style="max-width: 700px; margin:auto;">
        Bu uygulama, personel adaylarının bilgilerini ve başvurularını düzenli bir şekilde kaydetmek ve takip etmek amacıyla geliştirilmiştir.
        Sisteme yeni personel ekleyebilir, başvuru formlarını oluşturabilir ve iş başvurularını görüntüleyebilirsiniz.
        Yalnızca yetkili kişiler iş başvurularını detaylı olarak görebilir.
    </p>

    <a class="btn btn-primary mt-4 px-4" asp-controller="Personel" asp-action="Create">Yeni Personel Ekle</a>
    <a class="btn btn-outline-light mt-4 ms-2 px-4" asp-controller="Yetkili" asp-action="Giris">Yetkili Giriş</a>
</div>
